extends layout

block content
  br
  div(align="center")
    font(size="+5")
      i
        b Gandalf the Orange
      a(href='/') Go back
  br
  br
  div(align="center")
    iframe(width="640", height="480", src="http://www.youtube.com/embed/gCAR5OivA8I?rel=0&autoplay=1", frameborder="0", allowfullscreen="")
  br
  center
    a(href="http://en.wikipedia.org/wiki/Old_Nassau_reaction")  Wikipedia: Old Nassau reaction
