extends layout

block content
    div#container
        div#title.center
            | Reunions "Advent" Calendar
        center
          div#countdown
          font(size="+1")
            br
            | Each day brings Reunions closer and unlocks a new link to
            | Princetony goodness!
            br
            br
            em No peeking ahead!
          br
          br
          div(align="center")
            div.fb-like(data-href="http://reunionsiscoming.com", data-layout="standard", data-action="like", data-show-faces="true", data-share="true")

          br
          br
          font(size="+3")
            b May 2015
          br
          br
        div.row
            div.col-md-2
            div.col-md-8
                table(border="0", cellpadding="0", cellspacing="0", height="0", width="100%")
              tbody
                tr
                  td(checked="true")
                    font(face="verdana,trebuchet,helvetica,arial,sans serif")
                    center
                      font(face="verdana,trebuchet,helvetica,arial,sans serif")
                        table(border="10", cellpadding="2")
                          tbody
                            tr
                              td
                                  font(size="-2")
                                    center Monday
                              td
                                  font(size="-2")
                                    center Tuesday
                              td
                                  font(size="-2")
                                    center Wednesday
                              td
                                  font(size="-2")
                                    center Thursday
                              td
                                  font(size="-2")
                                    center Friday
                              td
                                  font(size="-2")
                                    center Saturday
                              td
                                  font(size="-2")
                                    center Sunday
                            tr
                              td &#160;
                              td &#160;
                              td &#160;
                              td &#160;
                              td
                                div(align="right")
                                  | 1
                                  br
                                  a(href="/day/1")
                                    img(src="images/tinypton.gif", alt="2", border="0")
                              td
                                div(align="right")
                                  | 2
                                  br
                                  a(href="/day/2")
                                    img(src="images/tinypton.gif", alt="3", border="0")
                              td
                                div(align="right")
                                  | 3
                                  br
                                  a(href="/day/3")
                                    img(src="images/tinypton.gif", alt="4", border="0")
                            tr
                              td
                                div(align="right")
                                  | 4
                                  br
                                  a(href="/day/4")
                                    img(src="images/tinypton.gif", alt="7", border="0")
                              td
                                div(align="right")
                                  | 5
                                  br
                                  a(href="/day/5")
                                    img(src="images/tinypton.gif", alt="8", border="0")
                              td
                                div(align="right")
                                  | 6
                                  br
                                  a(href="/day/6")
                                    img(src="images/tinypton.gif", alt="9", border="0")
                              td
                                div(align="right")
                                  | 7
                                  br
                                  a(href="/day/7")
                                    img(src="images/tinypton.gif", alt="10", border="0")
                              td
                                div(align="right")
                                  | 8
                                  br
                                  a(href="/day/8")
                                    img(src="images/tinypton.gif", alt="11", border="0")
                              td
                                div(align="right")
                                  | 9
                                  br
                                  a(href="/day/9")
                                    img(src="images/tinypton.gif", alt="12", border="0")
                              td
                                div(align="right")
                                  | 10
                                  br
                                  a(href="/day/10")
                                    img(src="images/tinypton.gif", alt="13", border="0")
                            tr
                              td
                                div(align="right")
                                  | 11
                                  br
                                  a(href="/day/11")
                                    img(src="images/tinypton.gif", alt="14", border="0")
                              td
                                div(align="right")
                                  | 12
                                  br
                                  a(href="/day/12")
                                    img(src="images/tinypton.gif", alt="15", border="0")
                                a(href="/tie.html")  
                              td
                                div(align="right")
                                  | 13
                                  br
                                  a(href="/day/13")
                                    img(src="images/tinypton.gif", alt="16", border="0")
                              td
                                div(align="right")
                                  | 14
                                  br
                                  a(href="/day/14")
                                    img(src="images/tinypton.gif", alt="17", border="0")
                                a(href="/sentiment.html")  
                              td
                                div(align="right")
                                  | 15
                                  br
                                  a(href="/day/15")
                                    img(src="images/tinypton.gif", alt="18", border="0")
                              td
                                div(align="right")
                                  | 16
                                  br
                                  a(href="/day/16")
                                    img(src="images/tinypton.gif", alt="19", border="0")
                              td
                                div(align="right")
                                  | 17
                                  br
                                  a(href="/day/17")
                                    img(src="images/tinypton.gif", alt="20", border="0")
                            tr
                              td
                                div(align="right")
                                  | 18
                                  br
                                  a(href="/day/18")
                                    img(src="images/tinypton.gif", alt="21", border="0")
                              td
                                div(align="right")
                                  | 19
                                  br
                                  a(href="/day/19")
                                    img(src="images/tinypton.gif", alt="22", border="0")
                              td
                                div(align="right")
                                  | 20
                                  br
                                  a(href="/day/20")
                                    img(src="images/tinypton.gif", alt="23", border="0")
                              td
                                div(align="right")
                                  | 21
                                  br
                                  a(href="/day/21")
                                    img(src="images/tinypton.gif", alt="24", border="0")
                                a(href="humanitarian.html")
                              td
                                div(align="right")
                                  | 22
                                  br
                                  a(href="/day/22")
                                    img(src="images/tinypton.gif", alt="25", border="0")
                              td
                                div(align="right")
                                  | 23
                                  br
                                  a(href="/day/23")
                                    img(src="images/tinypton.gif", alt="26", border="0")
                              td
                                div(align="right")
                                  | 24
                                  br
                                  a(href="/day/24")
                                    img(src="images/tinypton.gif", alt="27", border="0")
                            tr
                              td
                                div(align="right")
                                  | 25
                                  br
                                  a(href="/day/25")
                                    img(src="images/tinypton.gif", alt="28", border="0")
                              td
                                div(align="right")
                                  | 26
                                  br
                                  a(href="/day/26")
                                    img(src="images/tinypton.gif", alt="29", border="0")
                              td
                                div(align="right")
                                  | 27
                                  br
                                  | &#60;
                                  a(href="/day/27")
                                    img(src="images/tinypton.gif", alt="20", border="0")
                              td
                                div(align="right")
                                  | 28
                                  br
                                  a(href="/day/28")
                                    img(src="images/tinypton.gif", alt="28", border="0")
                              td  &#160; 
                              td  &#160; 
                              td  &#160; 
            div.col-md-2
        div.row
          font(color="#000000")
            | Calendar by
            a(href="mailto:steven@stevenliss.com")
              | Steve
              | Liss "10
          br
          a(href="http://countdowntoreunions.com")
            | Countdown
            | to Reunions


