extends layout

block content
  div#daycontent
    div.row
        h1 Powerful fans
    div.row
        div.col-md-2
        div.col-md-8
            div(align="center")
              iframe(width="640", height="360", style='padding:20px;', src="https://www.youtube.com/embed/dLamwgiYjkk?rel=0&autoplay=1", frameborder="0", allowfullscreen="")
              p 
                | Princeton spouse '85 and U.S. president Barack Obama cheers on his niece, Leslie Robinson '18 in the NCAA tournament.
                br
                br
                | The Princeton women went on to beat Wisconsin-Green Bay that day, extending their perfect season to 31-0.
                br
                | For comparisson, President Obama's electoral record is only 7-0.

              br
              a(href='/')
                | Back to calendar

        div.col-md-2