extends layout

block content
    div#daycontain
        div#shamecontain.row(align="center")
            img(src='/images/elpresidente.png' height='600px')
        div.row(align="center")
            a(href='/') Return in shame.