html {
    height: 100%;
}

body {
    font: 14px;
    font-family: 'Lato', sans-serif;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a {
    color: #00B7FF;
}

tbody {
    background-color: #F2F2F2;
}

#title {
    font-size: 44px;
    text-align: center;
    padding-top:18px;
}

#shamecontain {
    padding: 50px;
}

#countdown {
    font-size: 30px;
}