html {
    height: 100%;
}

body {
    font: 14px;
    font-family: 'Lato', sans-serif;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a {
    color: #0023AD;
    font-size: 20px;
}

tbody {
    background-color: #F2F2F2;
}

#title {
    font-size: 44px;
    text-align: center;
    padding-top:18px;
}

#container {
    padding-bottom: 12px;
}

#shamecontain {
    padding: 50px;
}

#countdown {
    font-size: 30px;
}

#daycontent {
    text-align: center;
    padding-top:18px;
}

.PDS_Poll, .pds-box {
    padding-top:12px;
    width: 60%;
    margin: 0 auto;
    font-family: 'Lato', sans-serif !important;
}

.pds-answer-span {
    font-family: 'Lato', sans-serif !important;
}

.pds-pd-link {
    display:none !important;
}